.container {
    max-width: 100%;
    &_search {
        background-color: #fff;
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        border-radius: 10vh;
        margin-top: 1%;
        mat-form-field {
            margin: 0 2%;
        }
        &--form {
            margin: 0 4%;
        }
    }
}

.paginator {
    background-color: #fff;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10vh;
    margin-bottom: 2%;
}

.section-title {
    margin-top: 2vw;
    text-align: center;
    white-space: nowrap;

    span {
        font-family: sans-serif;
        font-size: 1.6em;
        padding: 0 1vw;
        font-weight: bold;
        text-align: center;
        color: #222222;
    }
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #f11e22;
    }
}

hr {
    border: 0 none;
    height: 2px;
    width: 100%;
    color: #f11e22;
    background-color: #f11e22;
}
