.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 50px;
    width: 90%;
    background-color: #fff;

    &_body-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--carousel {
            max-width: 60%;
            margin: 0;
        }
    }
    &_body-right {
        width: 30%;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        &--title {
            font-weight: bold;
            margin-bottom: 2%;
        }
        &--content {
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
        }
        &--creators {
            display: flex;
            flex-direction: column;
        }
    }
}
.section-title {
    margin: 1vw 1.5vw;
    text-align: center;
    white-space: nowrap;

    span {
        font-family: sans-serif;
        font-size: 1.6em;
        padding: 0 1vw;
        font-weight: bold;
        text-align: center;
        color: #222222;
    }
}
hr {
    border: 0 none;
    height: 2px;
    width: 100%;
    color: #f11e22;
    background-color: #f11e22;
}
