<div fxLayout="row" fxLayoutAlign="start center" class="section-title">
    <hr />
    <span>{{ oComic.title }} </span>
    <hr />
</div>
<div class="container">
    <div class="container_body-left">
        <div class="container_body-left--carousel">
            <mdb-carousel [isControls]="true" animation="fade">
                <mdb-carousel-item *ngFor="let sImg of aImgs">
                    <img class="d-block w-100" src="{{ sImg.path }}" />
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
    <div class="container_body-right">
        <span class="container_body-right--title"> {{ 'COMICS.TABLE.DESCRIPTION' | translate }}: </span>
        <div class="container_body-right--content" *ngIf="oComic.description" [innerHTML]="oComic.description"></div>
        <span class="container_body-right--content" *ngIf="!oComic.description">
            {{ 'COMICS.TABLE.DESCRIPTION_NOT_FOUND' | translate }}</span
        >

        <span class="container_body-right--title"> {{ 'COMICS.TABLE.CHARACTERS' | translate }}: </span>
        <div class="container_body-right--content" *ngIf="oComic.characters.items.length > 0">
            <span *ngFor="let oCharacters of oComic.characters.items">{{ oCharacters.name }}</span>
        </div>
        <span class="container_body-right--content" *ngIf="oComic.characters.items.length < 1">
            {{ 'COMICS.TABLE.NOT_FOUND' | translate }}
        </span>

        <span class="container_body-right--title"> {{ 'COMICS.TABLE.CREATORS' | translate }}: </span>
        <div class="container_body-right--content" *ngIf="oComic.creators.items.length > 0">
            <span *ngFor="let oCreator of oComic.creators.items">{{ oCreator.name }}: {{ oCreator.role }}</span>
        </div>
        <span class="container_body-right--content" *ngIf="oComic.creators.items.length < 1">
            {{ 'COMICS.TABLE.NOT_FOUND' | translate }}
        </span>

        <span class="container_body-right--title"> {{ 'COMICS.TABLE.EXTERNAL' | translate }}: </span>
        <div *ngIf="oComic.urls.length > 0">
            <a class="container_body-right--content" *ngFor="let oUrl of oComic.urls" href="{{ oUrl.url }}">
                {{ oUrl.type }}</a
            >
            <span class="container_body-right--content" *ngIf="oComic.urls.length < 1">
                {{ 'COMICS.TABLE.NOT_FOUND' | translate }}
            </span>
        </div>
    </div>
</div>
