<div class="container">
    <div class="cursor">
        <button mat-icon-button (click)="nextLeftScroll()">
            <mat-icon>navigate_before</mat-icon>
        </button>
    </div>
    <div class="out-section">
        <div class="section">
            <ng-template ngFor let-sLetter [ngForOf]="aAlphabet">
                <div class="btn">
                    <button
                        class="btn_button"
                        [ngClass]="sLetter === sLetterSelected ? 'selected' : ''"
                        mat-flat-button
                        (click)="onSelected(sLetter)"
                    >
                        <span>{{ sLetter }}</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="cursor">
        <button mat-icon-button (click)="nextRightScroll()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
