.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.out-section {
    overflow: hidden;
    width: 100%;
}

.section {
    display: inline-flex;
    width: 50px;
}

.cursor {
    float: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;

    &_button {
        padding: 0;
        margin-bottom: 5px;
        background-color: #fff;
        color: #222222;
    }

    span {
        font-family: sans-serif;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
    }

    .selected {
        color: #f11e22;
    }
}
