<div class="container">
    <div class="cursor-characters">
        <button mat-icon-button (click)="nextLeftScroll()">
            <mat-icon>navigate_before</mat-icon>
        </button>
    </div>
    <div class="out-section-characters">
        <div class="section-characters">
            <ng-template ngFor let-oCharacter [ngForOf]="aCharacters">
                <div class="btn-characters">
                    <button
                        class="btn-characters_button"
                        [ngClass]="oCharacter.id === nIdSelected ? 'selected' : ''"
                        mat-flat-button
                        (click)="onSelected(oCharacter)"
                    >
                        <img
                            class="btn-characters_img"
                            src="{{ oCharacter.thumbnail.path }}.{{ oCharacter.thumbnail.extension }}"
                        />
                    </button>
                    <span>{{ oCharacter.name }}</span>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="cursor-characters">
        <button mat-icon-button (click)="nextRightScroll()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
