.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    max-width: 100%;
}

.out-section-characters {
    overflow: hidden;
    width: 100%;
    margin: 1vw;
}

.section-characters {
    display: inline-flex;
    width: 118px;
}

.section-characters section {
    padding: 0 10px;
    height: 174px;
}

.section-characters-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #222222;
    margin-top: 7px;
}

.section-title {
    margin-top: 2vw;
    text-align: center;
    white-space: nowrap;

    span {
        font-family: sans-serif;
        font-size: 1.6em;
        padding: 0 1vw;
        font-weight: bold;
        text-align: center;
        color: #222222;
    }
}

.cursor-characters {
    float: center;
}

.btn-characters {
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &_button {
        border-radius: 50%;
        padding: 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
    }

    &_img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    span {
        font-family: sans-serif;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .selected {
        border: #f11e22 solid 3px;
    }
}
