<mat-card>
    <img
        mat-card-image
        src="{{ oCharacter.thumbnail.path }}.{{ oCharacter.thumbnail.extension }}"
        alt="{{ oCharacter.name }}"
    />
    <mat-card-title>
        {{ oCharacter.name }}
    </mat-card-title>
</mat-card>
