<mat-card>
    <button mat-flat-button class="img-button" [routerLink]="['/comic', oComic.id]">
        <img
            mat-card-image
            src="{{ oComic.thumbnail.path }}.{{ oComic.thumbnail.extension }}"
            alt="{{ oComic.title }}"
        />
    </button>
    <mat-card-title>
        {{ oComic.title }}
    </mat-card-title>
    <mat-card-subtitle>
        <span class="authors_title">{{ 'COMICS.TABLE.CREATORS' | translate }}:</span>
        <div *ngIf="oComic.creators.items.length > 0">
            <div *ngFor="let oCreator of oComic.creators.items">{{ oCreator.name }}: {{ oCreator.role }}</div>
        </div>
        <div *ngIf="oComic.creators.items.length < 1">
            {{ 'COMICS.TABLE.NOT_FOUND' | translate }}
        </div>
    </mat-card-subtitle>
</mat-card>
