.container {
    max-width: 100vw;
    padding: 0;

    &_toolbar {
        width: 100%;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1000;
        background-color: #222222;
    }

    &_menu {
        color: #fff;
    }

    &_row {
        padding-left: 2%;

        a {
            text-decoration: none;
            font-size: 110%;
            white-space: normal;
            color: #fff;
            border-bottom: 0.3vh solid transparent;
        }

        a:hover {
            background-color: #2e2e2e;
            border-bottom: 0.3vh solid #fff;
        }
    }

    &_sidenav {
        position: fixed;
        width: 40%;
        height: 100%;
        background-color: #fff;
        a {
            text-decoration: none;
            font-size: 110%;
            white-space: normal;
            color: #222222;
            border-bottom: 0.3vh solid transparent;
        }

        a:hover {
            border-bottom: 0.3vh solid #222222;
        }
    }
}
