<div class="container">
  <mat-toolbar class="container_toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon class="container_menu">menu</mat-icon>
      </button>
      <a fxLayoutAlign="center center" routerLink="/">
        <img src="https://images.vectorhq.com/images/previews/cd8/marvel-logo-psd-444569.png" height="30vh">
      </a>
      <div class="container_row" fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/characters">{{"MENU.CHARACTERS" | translate}}</a>
        <a mat-button routerLink="/comics">{{"MENU.COMICS" | translate}}</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div class="container_sidenav" fxLayout="column">
        <a mat-button routerLink="/characters">{{"MENU.CHARACTERS" | translate}}</a>
        <a mat-button routerLink="/comics">{{"MENU.COMICS" | translate}}</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
