<div class="container">
  <mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://i.imgur.com/AiVbWUG.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://i.imgur.com/AiVbWUG.png" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://i.imgur.com/AiVbWUG.png" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>
