<div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="container">
    <div fxLayout="row" fxLayoutAlign="start center" class="section-title">
        <hr />
        <span>{{ 'CHARACTERS.TITLE' | translate }} </span>
        <hr />
    </div>
    <div class="container_search">
        <form class="container_search--form" [formGroup]="oForm">
            <mat-form-field>
                <mat-label>{{ 'CHARACTERS.FORM.CHARACTER' | translate }}</mat-label>
                <input matInput formControlName="edtCharacter" />
                <button
                    mat-button
                    *ngIf="edtCharacter.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="edtCharacter.reset()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-button mat-icon-button (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <app-alphabet-carousel (selected)="onSearch(null, $event)"></app-alphabet-carousel>
    </div>

    <app-characters-grid [aCharacters]="aCharacters"></app-characters-grid>

    <mat-paginator
        class="paginator"
        (page)="onSearch($event)"
        [length]="nTotal"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 100]"
        [showFirstLastButtons]="true"
    >
    </mat-paginator>
</div>
