.wrapper {
    margin: 0 1.5vw;
}

.section-title {
    margin-top: 2vw;
    text-align: center;
    white-space: nowrap;

    span {
        font-family: sans-serif;
        font-size: 1.6em;
        padding: 0 1vw;
        font-weight: bold;
        text-align: center;
        color: #222222;
    }
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #f11e22;
    }
}

.comics {
    margin-top: 1%;
    &_button {
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        margin-top: 1%;
        button {
            font-size: 1.6em;
            background-color: #f11e22;
            font-family: sans-serif;
            min-width: 20%;
            padding: 0.5%;
            font-weight: bold;
            text-align: center;
        }
    }
}

hr {
    border: 0 none;
    height: 2px;
    width: 100%;
    color: #f11e22;
    background-color: #f11e22;
}
