<div class="spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<app-home-carousel></app-home-carousel>
<div class="wrapper">
    <div fxLayout="row" fxLayoutAlign="start center" class="section-title">
        <hr />
        <span>{{ 'HOME.CHARACTERS' | translate }} </span>
        <hr />
    </div>
</div>
<app-characters-carousel (selected)="onSearch($event)"></app-characters-carousel>
<div class="wrapper">
    <div fxLayout="row" fxLayoutAlign="start center" class="section-title">
        <hr />
        <span>{{ 'HOME.COMICS' | translate }} </span>
        <hr />
    </div>
</div>
<div class="comics">
    <app-comics-grid [aComics]="aComics"></app-comics-grid>
    <div class="comics_button">
        <button mat-raised-button [routerLink]="'/comics'">{{ 'HOME.SEE_MORE' | translate }}</button>
    </div>
</div>
