<footer class="page-footer font-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="container_social mb-5 flex-center">
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="gplus-ic">
            <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="li-ic">
            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="pin-ic">
            <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">{{ 'FOOTER.COPYRIGHT' | translate}}
    <a href="https://marvel.com/">{{ 'FOOTER.WEBSITE' | translate}}</a>
  </div>
</footer>
